*/Debug/MonoTorrent.Dht.dll
_ReSharper.*
dhttest.ncrunchsolution
dhttest/bin/*
dhttest/obj/*
monotorrent/build/*
monotorrent/src/MonoTorrent.Dht/obj/*
monotorrent/src/MonoTorrent/obj/*
dhttest.ncrunchsolution.user
dhttest.sln.DotSettings.user
dhttest/dhttest.csproj.DotSettings.user
